.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.venv/
.venv-*/

.framework-python-*/
.framework-python-cache/
.framework-python-runtime/

build/
build-*/
dist/
dist-*/

*.egg-info/
